<!-- <mat-progress-spinner *ngIf="loading" mode="indeterminate">Alimentos cargandose ...</mat-progress-spinner> -->

<div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> Cod. </mat-header-cell>
            <mat-cell *matCellDef="let alimento"> {{alimento.codigo_alimento}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let alimento"> {{alimento.descripcion_alimento}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let alimento"> {{alimento.descripcion_tipo_alimento}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="medida">
            <mat-header-cell *matHeaderCellDef> Medida </mat-header-cell>
            <mat-cell *matCellDef="let alimento"> {{alimento.medida_casera}} {{ alimento.medida_casera_unidad}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="hidratos">
            <mat-header-cell *matHeaderCellDef> Hidratos Carbono </mat-header-cell>
            <mat-cell *matCellDef="let alimento"> {{alimento.hidratos_carbono}} {{ alimento.unidad_medida_hidratos_carbono}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="proteinas">
            <mat-header-cell *matHeaderCellDef> Proteinas </mat-header-cell>
            <mat-cell *matCellDef="let alimento"> {{alimento.proteina}} {{ alimento.unidad_medida_proteina}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="grasas">
            <mat-header-cell *matHeaderCellDef> Grasas </mat-header-cell>
            <mat-cell *matCellDef="let alimento"> {{alimento.grasa}} {{ alimento.unidad_medida_grasa}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fibras">
            <mat-header-cell *matHeaderCellDef> Fibra </mat-header-cell>
            <mat-cell *matCellDef="let alimento"> {{alimento.fibra}} {{ alimento.unidad_medida_fibra}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="edicion">
            <mat-header-cell *matHeaderCellDef> Detalles </mat-header-cell>
            <mat-cell *matCellDef="let alimento"> <button mat-raised-button (click)="detalleAlimento(alimento.codigo_alimento)">Ver mas</button> </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>