<div *ngFor="let alimento of detalleAlimentoObservable | async" 
    fxLayout="column" 
    fxLayoutGap="10px"
    fxLayoutAlign="center center">
      <h2 mat-dialog-title fxHide fxShow.gt-sm>
        {{ alimento.descripcion_alimento }}
        <small> (Cod. {{ alimento.codigo_alimento }})</small>
      </h2>
      <h2 mat-dialog-title fxShow fxHide.gt-sm>
        <div>TEXTO MIN.</div>
        <small> (Cod. {{ alimento.codigo_alimento }})</small>
      </h2>
      <mat-dialog-content>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-raised-button (click)="editarAlimento(alimento.codigo_alimento)"><mat-icon>edit</mat-icon>Editar</button>
        <button mat-raised-button (click)="onCloseCancel()"><mat-icon>close</mat-icon>Cerrar</button>
      </mat-dialog-actions>
</div>

     <!--  -->